{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'countrycases/style.css' %}"/>

<body>
<div>
    <header class="header">
        <h1 class="header-title">Casos de Covid-19 por país</h1>
    </header>
    <section class="admin">
        <a class="admin-anchor" href="{% url 'admin:index' %}">
            <button class="admin-button">Administrador</button>
        </a>
    </section>
    {% if cases_list %}
    <table class="cases-table">
        <thead>
        <tr>
            <th>País</th>
            <th>Casos Confirmados</th>
            <th>Mortes</th>
            <th>Recuperados</th>
        </tr>
        </thead>
        <tbody>
        {% for case in cases_list %}
        <tr>
            <td>{{ case.country.country_name }}</td>
            <td class="cases">{{ case.confirmed_cases }}</td>
            <td class="deaths">{{ case.death_cases }}</td>
            <td class="recoveries">{{ case.recovery_cases }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No cases.</p>
    {% endif %}
</div>
</body>