# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mathe\OneDrive\Área de Trabalho\PUC\V Período\Laboratório de Desenvolvimento de Aplicações Móveis e Distribuídas\monitorcoviddjango-monitor-covid-matheus-thiago\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
